<html>
  <head>
    <title> DEEP 2018 Web Dev </title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>

  <body>
    <div class="header">
      <div class="logo"> <h2>MuseThemes</h2> </div>
      <div class= "link link1">About</div>
      <div class= "link link2">Instagram</div>
      <div class= "link link3"></div>
      <div class= "link link4"></div>
    </div>
    <br></br>
    <div class="container" >
      <div class="itemA"> </div>
      <div class="itemB"> </div>
      <div class="itemC"> </div>
      <div class="itemD"> </div>
      <div class="panel itemE"> </div>
      <div class="panel itemF"> </div>
      <div class="panel itemG"> </div>
      <div class="panel itemH"> </div>
      <div class="panel itemI"> </div>
      <div class="panel itemJ"> </div>
      <div class="panel itemK"> </div>
      <div class="panel itemL"> </div>
    </div>
  </body>
</html>
